@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-focused {
  outline: none !important;
}

.bg-blue {
  background-color: #124559;
}

.semi-form-vertical .semi-form-field {
  margin: 0;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  overflow: hidden;
}

.semi-card .semi-collapse-item{
  border: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9; 
}